.header{
    font-size:35px;
    font-weight: 600;
    color:black;
}

.list-table-format-prod,
.list-table-format-prod.title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
}



.list-table-format-prod:not(.title):hover {
  background-color: #f0f0f0;
  cursor: pointer;
}


.list-table-format-prod.title {
  background-color: #f9f9f9;
  font-weight: bold;
}


.list-table-format-prod img {
    width:50px;
}


.form-buttons {
  display: flex;
  gap: 10px;
}

.add-btn{
    border:none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.thick-hr {
  height: 3px;
  background-color: black;
  border: none;
  margin:none;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
  flex-wrap: wrap;
}

.search-input {
  flex: 1;
  min-width: 200px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 4px;
}

.sort-select {
  min-width: 200px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 4px;
}

.action-icon{
    width:30px;
    color:white;
    background-color: red;
    height:auto;
    padding:7px;
    border-radius: 5px;
}

.action-icon:hover{
    
    background-color: rgb(139, 2, 2);
}


@media (max-width:600px){
    .list-table-format-prod{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 15px;
    }

   


}