* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  html, body {
    margin: 0;
    padding: 0;
  }
  

  header {
    background-color: #112b46;
    color: white;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .logo img {
    width: 45px;
    height: 45px;
  }

  nav a {
    color: white;
    margin: 0 30px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease;
  }
  
  nav a.active {
    font-weight: 700;
  }
  
  nav a:hover {
    color: #A4DBF0;
  }
  

  .cart-icon {
    font-size: 24px;
    cursor: pointer;
  }

  .products {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    padding: 60px 20px;
    gap: 75px;
    flex-wrap: wrap;
  }

  .product {
    background-color: #eeeeee;
    border-radius: 40px;
    padding: 40px 20px;
    width: 300px;
    height: auto; 
    min-height: 600px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

.product:hover {
transform: scale(1.125);
box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product img {
width: 220px; 
height: auto;
margin-bottom: 10px;
}

.product h3 {
font-size: 28px; 
margin-bottom: 20px;
color: white;
}

.product .view-button {
margin-top: 25px;
background-color: white;
color: black;
border: none;
border-radius: 25px;
padding: 12px 28px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
transition: background-color 0.3s ease;
text-decoration: none;
}

.product .view-button:hover {
background-color: rgb(242, 63, 87);
}


  .leche {
    background-color: #f58f8f;
  }

  .leche .view-button:hover {
    background-color: #e85a6e; /* or any color you want for Leche Flan */
    color: white;
  }

  .fries {
    background-color: #fbd263;
  }

  .fries .view-button:hover {
    background-color: #ffbb00; /* or any color you want for Fries */
    color: white;
  }


.button-group {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  